body { background: #FFFFFF; margin:5px; padding:0;}
body td, p, div {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;color: #3F3F40}

table {width:100%; margin: 0; padding: 0;  background : #FFFFFF;  background-color : #FFFFFF;  border : 1px;   }
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  border : thin #68a; }

a:link    {color: #68a; text-decoration: none}
a:active {color: #68a; text-decoration: none}
a:visited {color: #68a; text-decoration: none}
a:hover  {color: #68a; text-decoration: underline}
fieldset {
border: 0px solid #fff;
}


h1 {color:#ac8;}
h2 {color: #68a;}
h3 {color: #68a;}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #68a;
}

.item {}
.itemHead {padding: 5px; border: 1px solid #68a;}
.itemInfo {text-align: center; border-left: 1px solid #68a; border-right: 1px solid #68a; background-color: #fff}
.itemTitle a {font-size: 130%; font-weight: bold; color: #844;font-variant: small-caps; background-color: transparent;}
.itemPoster {font-size: 90%; }
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody {padding-left: 5px; padding-right: 5px; border-left: 1px solid #68a; border-right: 1px solid #68a;}
.itemText {margin-top: 0px; margin-bottom: 0px; line-height: 1.5em;}
.itemFoot {text-align: left; padding:3px; border:1px solid #68a; background-color: #fff}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%; font-style:italic;}

table#top {margin-bottom:8px;  border-bottom-color: #68a;  border-bottom-style: dashed;  border-bottom-width: 1px;     }
th {background-color: #fff; color: #68a; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}



td#leftcolumn {width: 180px; font-size:12px;  background : #FFFFFF;  padding-right: 6px;  }
td#leftcolumn th {background-color: #FFFFFF; color: #68a; vertical-align: middle;}
td#leftcolumn .blockTitle {padding: 6px; background-color: #FFFFFF; color: #844; font-weight:bold;border-top: 1px dashed #68a;  border-left: 1px dashed #68a; border-right: 1px dashed #68a;  font-variant: small-caps; }
td#leftcolumn .blockContent {padding: 3px; line-height: 120%; line-height: 120%;background-color: #fff;margin-bottom:8px;  background : #FFFFFF; border-bottom: 1px dashed #68a;  border-left: 1px dashed #68a; border-right: 1px dashed #68a}


td#centercolumn {font-size: 10px;  border : 0px none;  padding : 0px 3px;  padding-left : 3px;   }
td#centercolumn th {background-color: #ffffff; color: #68a;  vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;  border : 0px none #3F3F40;  padding-top : 0px;  }
td#centerCcolumn legend.blockTitle {padding: 0px; color: #844; font-weight:bold;}
td#centerCcolumn div.blockContent {padding: 3px; margin-right: 2px;  margin-left: 2px; margin-bottom: 2px; line-height: 120%;   }

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px; background : #FFFFFF}
td#centerLcolumn legend.blockTitle {padding: 3px; color:#844; font-weight: bold; margin-top:0px;}
td#centerLcolumn div.blockContent {padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 120%;  border : 1px dashed #68a;  border-top-width : 1px;  }

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: #844; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}

div#content {text-align: left; padding: 0px; }

td#rightcolumn {width: 180px; font-size:12px; background : #FFFFFF;  padding-left: 6px; }
td#rightcolumn th {background-color: #fff; color: #68a; vertical-align: middle;}
td#rightcolumn .blockTitle {padding: 6px; background-color: #FFFFFF; color: #844; font-weight:bold;border-top: 1px dashed #68a;  border-left: 1px dashed #68a; border-right: 1px dashed #68a;  font-variant: small-caps; }
td#rightcolumn .blockContent {padding: 3px; line-height: 120%; line-height: 120%;background-color: #fff;margin-bottom:8px;  background : #FFFFFF; border-bottom: 1px dashed #68a;  border-left: 1px dashed #68a; border-right: 1px dashed #68a;}

tr#footerbar {text-align:center; }
tr#footerbar td {border-bottom:1px dashed #68a; height:5px;}
td#mainmenu a {display: block; margin: 0; padding: 4px; color: #68a;}
td#mainmenu a:hover {color:#469;}
td#mainmenu a.menuTop {padding-left: 3px;}
td#mainmenu a.menuMain {padding-left: 3px;}
td#mainmenu a.menuSub {padding-left: 9px; }

td#usermenu a {display: block; margin: 0; padding: 4px;color: #68a;}
td#usermenu a:hover {color:#469; }
td#usermenu a.menuTop {}



.outer {border: 1px solid #68a; }
.head {background-color: #fff; padding: 5px; font-weight: bold;  background : none;border-bottom: 1px solid #68a;}
.even {background-color: #fff; padding: 5px;border-bottom:1px solid #68a;}
.odd {background-color: #ECF3E6; padding: 5px;border-bottom: 1px solid #68a;}
.foot {background-color: #fff; padding: 5px; font-weight: bold; }
tr.even td {background-color: #fff; padding: 5px;}
tr.odd td {background-color:#ECF3E6; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px dashed #DDDDFF; border-left: 1px dashed #DDDDFF; border-right: 1px dashed #AAAAAA; border-bottom: 1px dashed #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px dashed #DDDDFF; border-left: 1px dashed #DDDDFF; border-right: 1px dashed #AAAAAA; border-bottom: 1px dashed #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px dashed silver; border-left: 1px dashed silver; font-weight: bold; border-right: 1px dashed #666666; border-bottom: 1px dashed #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #68a; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #fff; font-family: Verdana, Arial, Helvetica, sans-serif; color: #68a; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #68a; font-weight:bold; border: 1px solid #68a; background-color: #FFFFFF; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #844; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
#footer {text-align:center;}
#footer td {text-align:center;}
